/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color:#3a4c4c;
	background:#daeded;
	font-family:arial;
}
ol, ul {
	list-style: none;
}
li {
  line-height:1.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

/* base */ 
h1, h2, h3, h4, h5 {margin-bottom:10px; font-family:verdana;}
h1 { font-size:26px;}
h2 { font-size:22px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}

p {margin-bottom:10px;
  font-family:arial;
  line-height:1.5em;
  }
em {font-weight:bold;}
  
/* wrapper */
#wrapper {
  margin:0;
  padding:0;
  margin: 10px auto;
  width:800px;
}
#header {
  margin-bottom:20px;
  overflow:hidden;
  border-bottom:1px solid #CADDDD;
}
#footer {
  clear:both;
  height:50px;
}
#logo{
  float:left;
  position:relative;
  top:5px;
}
#logo a {
  color:#11ca98;
}
#admin_menu {
  float:right;
  list-style:none;
  padding:10px;
  text-align:right;
  overflow:hidden;
}
#admin_menu li{
  display:inline;
  margin-right:10px;
}

#main-title {
  font-size:64px;
  margin: 50px 0 20px 0;
  text-align:center;
  font-family:verdana;
  color:#6b9013;
}

#works-pic {
  margin-bottom:10px;
}
#works-pic td {
  padding:5px;
  text-align:center;
}

.mid {
  text-align:center;
  font-size:36px;
  vertical-align:middle;
  color:#333;
}
.mid span {
  position:relative;
  
}
.count {
}
/* profile index */

.profile {
  margin: 10px;
}
.profile p {
  padding:10px;
}
fieldset { border:0;}
textarea {
  width:300px;
  height:100px;
  font-family:verdana;
  font-size:12px;
}
input {
  width:300px;
  font-family:verdana;
  font-size:16px;
  font-weight:bold;
  padding:3px;
}


#switch {
  clear:both;
  list-style:none;
  margin-left:10px;
}
#switch li {
  display:inline;
}

#switch li a {
  display:block;
  float:left;
  margin-right:10px;
  ackground: #A5C473;
  order-bottom:2px solid #A5C473;
  padding:8px 35px;
  background:#ccc;
  border-bottom:1px solid #ccc;
  color:#fff;
  font-size:16px;
  font-family:verdana;
  -webkit-border-top-right-radius:3px;
  -webkit-border-top-left-radius:3px;
  text-decoration:none;
  position:relative;
  top:1px; 
}
#switch li a:hover, #switch li a.active {
  background:#FFF;
  color:#444;
  border:1px solid #444;
  border-bottom:1px solid #fff;
}
#panel {
  clear:both;
  padding:10px;
  border-top:1px solid #444;
}
#profile-left {
  width:45%;
  float:left;
}
#profile-right {
  width:45%;
  float:right;
  }
  
#box-top {
  padding:20px 30px;
  background:#3a4c4c;
  font-size:32px;
  color: #daeded;
  text-align:center;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
}  
  
  #box {
    background:#fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -webkit-box-shadow:2px 2px 10px #83a1a1;
    -moz-box-shadow:2px 2px 10px #83a1a1;
  }
  #box .inner {
    padding:30px;
  }
  #box h2.cufon  {
    background:#daeded;
    padding:13px 20px;
    color:#3a4c4c;
    float:left;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    margin-bottom:50px;
  }
  #box p {
    clear:both;
    margin-bottom:50px;
    text-align:center;
    font-size:18px;
  }
  #sample-header {
    text-align:center;
    margin:auto;
  }
    #sample-logo-wall {
      display:block;
      margin:auto;
    } 
    
    .ordered-list {
      clear:both;
      list-style:decimal;
      width:370px;
      margin:auto;
      margin-bottom:30px;
    } 
    .ordered-list li {
      font-size:18px;
    }