/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

/* base */ 
h1, h2, h3, h4, h5 {margin-bottom:10px;}
h1 { font-size:26px;}
h2 { font-size:22px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}

p {margin-bottom:10px;}

/* wrapper */
#wrapper {
  margin:0;
  padding:0;
  margin: 10px auto;
  width:80%;
}
#admin_menu {
  list-style:none;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #ccc;
  overflow:hidden;
}
#admin_menu li{
  display:inline;
  margin-right:10px;
}


/* profile index */

h1 {
  font-family:verdana;
}
h2 {
  padding:5px;
  border-bottom:2px solid #444;
}
.profile {
  margin: 10px;
}
.profile p {
  padding:10px;
}
fieldset { border:0;}
textarea {
  width:300px;
  height:100px;
  font-family:verdana;
  font-size:12px;
}
input {
  width:300px;
  font-family:verdana;
  font-size:16px;
  font-weight:bold;
  padding:3px;
}


#switch {
  clear:both;
  list-style:none;
  margin-left:10px;
}
#switch li {
  display:inline;
}

#switch li a {
  display:block;
  float:left;
  margin-right:10px;
  ackground: #A5C473;
  order-bottom:2px solid #A5C473;
  padding:8px 35px;
  background:#ccc;
  border-bottom:1px solid #ccc;
  color:#fff;
  font-size:16px;
  font-family:verdana;
  -webkit-border-top-right-radius:3px;
  -webkit-border-top-left-radius:3px;
  text-decoration:none;
  position:relative;
  top:1px; 
}
#switch li a:hover, #switch li a.active {
  background:#FFF;
  color:#444;
  border:1px solid #444;
  border-bottom:1px solid #fff;
}
#panel {
  clear:both;
  padding:10px;
  border-top:1px solid #444;
}
#profile-left {
  width:45%;
  float:left;
}
#profile-right {
  width:45%;
  float:right;
  }