

<h1 id="main-title" class="cufon-header">Google.com Uses <em>apt.fm</em> to Broadcast it's Reputation.</h1>

<p style="text-align:center; margin-bottom:40px; color:#638080">
  (Ok, that's not true yet, but wouldn't that statement
  automatically give apt.fm more credibility?)
</p>

<div style="margin-bottom:40px">
  <p style="width:500px; margin:0 auto 10px auto">
    apt.fm helps web applications build great reputations
     by collecting and sharing <em>verifiable</em> testimonials from the websites that use them.
  </p>  
</div>

<h1 class="cufon" style="font-size:30px; text-align:center; margin-bottom:40px;">How it Works</h1>

<div id="box">
  <h2 class="cufon">1</h2>
  
  <table id="works-pic" width="100%">
    <tr>
      <td><img src="/images/flightcaster.png" /></td>
      <td class="mid"><span>uses</span></td>
      <td><img src="/images/heroku.jpg" /></td>
    </tr>
  </table>
  
  <p>
    Flightcaster uses Heroku to manage its application infrastructure.
  </p>
  
  <h2 class="cufon">2</h2>
  <p>
    jason@flightcaster.com shares his experience with heroku
    <br/>by adding a quick comment to apt.fm/heroku.com
  </p>
  
  <h2 class="cufon">3</h2>
  <p>
    Heroku's reputation along with cool metadata is publicly shareable via apt.fm's data API:
    <br/>
  </p>

  <p>
    <img src="/images/json.gif" />
  </p>
  

  <h2 class="cufon">3.a</h2>
  <p>  
    Grab logos and build a <b>Used By</b> logo wall without the manual hassle:
  </p>

  <h2 id="sample-header">Used by Over 1,000 companies worldwide.</h2>
  <p>
    <img src="/images/sample-logo-wall.jpg" id="sample-logo-wall"/>
  <p>

  <div style="color:#999;text-align:center;">
    (this image copyright <a href="http://www.getexceptional.com/">http://www.getexceptional.com/</a> and used here only for demo purposes.)
  </div>

</div>  


<!--
<%= link_to "pluspanda", domain_index_path("pluspanda.com")%>
-->
<script type="text/javascript">
  $(function(){
    simpleTabs.init($("#switch"), $("#panel"));
  })
</script>