
<h1>Tasty.fm</h1>
<br/>
<h1>Broadcast Your Rep</h1>
<br/>

<h2>Run a Business Web Application?</h2>

<p>
  Collect rock-solid, indisputable, feedback from websites using your web-service.
</p>

Sample

<%= link_to "pluspanda", domain_index_path("pluspanda.com")%>